nav {
    display: flex;
    float: right;
}

aside {
    box-shadow: inset 5px 0 5px -5px #95353A;
    font-style: italic;
    color: #95353A;
}

aside > p {
    margin: .5rem;
}

.tag::after {
    content: ">";
    display: inline-block;
}

.tag::before {
    content: "<";
    display: inline-block;
}

.element {
    margin: 1.5rem;
    padding: .3rem;
    background-color: white;
    color: #212121;
    border-radius: 8px;
    width: 29%;
}

@media only screen and (min-width:700px) and (max-width: 900px){
    .element {
         width: 42%;
    }
}

@media only screen and (min-width:360px) and (max-width: 576px){
    .element {
         width: 100%;
    }
    #navLink2 {
        display: none !important;
    }
}

.element > h3,
.element > section {
    margin: 1.2rem;
}
